In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_dataset=pd.read_csv("Zomato Chennai Listing 2020.csv")
raw_dataset

,Zomato URL,Name of Restaurant,Address,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,https://www.zomato.com/chennai/yaa-mohaideen-b...,Yaa Mohaideen Briyani,"336 & 338, Main Road, Pallavaram, Chennai",Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.3,1500,4.3,9306,"['Home Delivery', 'Indoor Seating']"
1,https://www.zomato.com/chennai/sukkubhai-biriy...,Sukkubhai Biriyani,"New 14, Old 11/3Q, Railway Station Road, MKN ...",Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.4,3059,4.1,39200,"['Home Delivery', 'Free Parking', 'Table booki..."
2,https://www.zomato.com/chennai/ss-hyderabad-bi...,SS Hyderabad Biryani,"98/339, Arcot Road, Opposite Gokulam Chit Fun...",Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.3,1361,4.4,10500,"['Home Delivery', 'Indoor Seating']"
3,https://www.zomato.com/chennai/kfc-perambur,KFC,"10, Periyar Nagar, 70 Feet Road, Near Sheeba ...",Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.0,1101,4.0,11200,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,https://www.zomato.com/chennai/tasty-kitchen-p...,Tasty Kitchen,"135B, SRP Colony, Peravallur, Near Perambur, ...",Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.2,617,4.1,22400,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...,...,...
12027,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Porur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12028,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Kolathur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12029,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Anna Nagar East,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12030,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Ramapuram,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"
12031,https://www.zomato.com/chennai/cks-sandwiches-...,CK's Sandwiches,Delivery Only,Sholinganallur,['Sandwich'],Invalid,350.0,NaN,NaN,NaN,NaN,"['Breakfast', 'Delivery Only']"

In [3]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Zomato URL             12032 non-null  object
 1   Name of Restaurant     12032 non-null  object
 2   Address                12032 non-null  object
 3   Location               12032 non-null  object
 4   Cuisine                12032 non-null  object
 5   Top Dishes             12032 non-null  object
 6   Price for 2            12032 non-null  float64
 7   Dining Rating          6681 non-null   float64
 8   Dining Rating Count    11812 non-null  object
 9   Delivery Rating        6181 non-null   float64
 10  Delivery Rating Count  11812 non-null  object
 11  Features               12032 non-null  object
dtypes: float64(3), object(9)
memory usage: 1.1+ MB

In [4]:
raw_dataset[raw_dataset['Cuisine']=='Cuisine']

Empty DataFrame
Columns: [Zomato URL, Name of Restaurant, Address, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [5]:
raw_dataset.drop(['Zomato URL','Address'],axis=1,inplace=True)

In [6]:
raw_dataset.isnull().sum()

Name of Restaurant          0
Location                    0
Cuisine                     0
Top Dishes                  0
Price for 2                 0
Dining Rating            5351
Dining Rating Count       220
Delivery Rating          5851
Delivery Rating Count     220
Features                    0
dtype: int64

In [7]:
raw_dataset['Dining Rating'].fillna(raw_dataset['Dining Rating'].mean(),inplace=True)
raw_dataset['Delivery Rating'].fillna(raw_dataset['Delivery Rating'].mean(),inplace=True)
raw_dataset['Dining Rating Count'].fillna(0,inplace=True)
raw_dataset['Delivery Rating Count'].fillna(0,inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_3696\1644007858.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_dataset['Dining Rating'].fillna(raw_dataset['Dining Rating'].mean(),inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_3696\1644007858.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_dataset['Delivery Rating'].fillna(raw_dataset['Delivery Rating'].mean(),inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_3696\1644007858.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_dataset['Dining Rating Count'].fillna(0,inplace=True)
C:\Users\DELL\AppData\Local\Temp\ipykernel_3696\1644007858.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  raw_dataset['Delivery Rating Count'].fillna(0,inplace=True)

In [8]:
raw_dataset.isna().sum()

Name of Restaurant       0
Location                 0
Cuisine                  0
Top Dishes               0
Price for 2              0
Dining Rating            0
Dining Rating Count      0
Delivery Rating          0
Delivery Rating Count    0
Features                 0
dtype: int64

In [9]:
raw_dataset['Dining Rating Count'].value_counts()

Dining Rating Count
Does not offer Dining        2603
Not enough Dining Reviews    2528
4                             339
5                             271
6                             248
                             ...
877                             1
897                             1
872                             1
1197                            1
224                             1
Name: count, Length: 794, dtype: int64

In [10]:
raw_dataset['Delivery Rating Count'].value_counts()

Delivery Rating Count
Not enough Delivery Reviews    3379
Does not offer Delivery        2252
0                               220
27                               34
37                               30
                               ...
3530                              1
7705                              1
6374                              1
1773                              1
1617                              1
Name: count, Length: 2282, dtype: int64

In [11]:
raw_dataset['Dining Rating Count'].replace(to_replace=['Does not offer Dining','Not enough Dining Reviews'],value=0,inplace=True)

In [12]:
raw_dataset['Delivery Rating Count'].replace(to_replace=['Not enough Delivery Reviews','Does not offer Delivery'],value=0,inplace=True)

In [13]:
raw_dataset['Dining Rating Count'].value_counts()

Dining Rating Count
0       5351
4        339
5        271
6        248
8        180
        ...
877        1
897        1
872        1
1197       1
224        1
Name: count, Length: 792, dtype: int64

In [14]:
raw_dataset['Delivery Rating Count'].value_counts()

Delivery Rating Count
0       5851
27        34
37        30
32        30
40        30
        ...
1049       1
734        1
5816       1
664        1
1617       1
Name: count, Length: 2280, dtype: int64

In [15]:
raw_dataset['Dining Rating Count']=raw_dataset['Dining Rating Count'].astype('float64')
raw_dataset['Delivery Rating Count']=raw_dataset['Dining Rating Count'].astype('float64')

In [16]:
raw_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12032 entries, 0 to 12031
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Name of Restaurant     12032 non-null  object
 1   Location               12032 non-null  object
 2   Cuisine                12032 non-null  object
 3   Top Dishes             12032 non-null  object
 4   Price for 2            12032 non-null  float64
 5   Dining Rating          12032 non-null  float64
 6   Dining Rating Count    12032 non-null  float64
 7   Delivery Rating        12032 non-null  float64
 8   Delivery Rating Count  12032 non-null  float64
 9   Features               12032 non-null  object
dtypes: float64(5), object(5)
memory usage: 940.1+ KB

In [17]:
raw_dataset['Location'].value_counts()

Location
Porur                                  418
Velachery                              372
Ambattur                               334
T. Nagar                               315
Perungudi                              288
                                      ...
Keys Hotel, Thiruvanmiyur                1
Jade Resorts, East Coast Road (ECR)      1
Novotel Chennai, OMR                     1
Hotel Blue Diamond, Kilpauk              1
Chandra Metro Mall, Virugambakkam        1
Name: count, Length: 268, dtype: int64

In [18]:
raw_dataset['Location']=raw_dataset['Location'].str.replace('Abu Sarovar Portico, Egmore|Ambassador Pallava, Egmore|Hotel Fortel, Egmore|Hotel Marina Inn, Egmore|Vestin Park Hotel, Egmore|Radisson Blu, Egmore|Ramada, Egmore|Hotel Vee Yes, Egmore|Hotel Victoria, Egmore','Egmore',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Aloft Chennai, Sholinganallur|Hotel Centre Point, Sholinganallur|Vivanta Chennai, IT Expressway, Sholinganallur','Sholinganallur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Ambica Empire, Vadapalani|Forum Vijaya Mall, Vadapalani|Green Park Hotel, Vadapalani|Hotel Bhimaas, Vadapalani|Hotel Maurya International, Vadapalani','Vadapalani',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Ambit IT Park, Ambattur|Eat And Pack, Ambattur|OMR Food Street, Ambattur','Ambattur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Ampa Skywalk Mall, Aminijikarai','Aminijikarai',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Ascendas IT Park, Taramani','Taramani',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Benzz Park, T.Nagar|BKR Grand Hotel, T.Nagar|GLM Meridian Hotel, T. Nagar|Hotel NRS Sakithyan, T. Nagar|The Residency, T.Nagar|The Accord Metropolitan, T.Nagar|Quality Inn Sabari, T.Nagar|Paati Veedu, T.Nagar|Jaag Hotels, T.Nagar|Hotel Sudhara, T.Nagar|Hotel Peninsula, T. Nagar','T.Nagar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Chandra Metro Mall, Virugambakkam','Virugambakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Chariot Beach Resort, East Coast Road (ECR)|Foyr Points by Sheraton, East Coast Road (ECR)|Hotel Mamallaa Heritage, East Coast Road (ECR)|Kipling, East Coast Road (ECR)|Ideal Beach Resort, East Coast Road (ECR)|Jade Resorts, East Coast Road (ECR)| InterContinental Chennai Mahabalipuram Resort, East...','East Coast Road (ECR)',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Chennai Citi Centre, Mylapore|Clarion Hotel, Mylapore|Hotel Manhattan, Mylapore|New Woodlands Hotel, Mylapore|Hotel Shelter, Mylapore','Mylapore',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Chennai Food Town, Thuraipakkam|OMR Food Street, Thuraipakkam','Thuraipakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Courtyard by Marriott, Teynampet|The Raintree, Teynampet|Hyatt Regency, Teynampet','Teynampet',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Crowne Plaza Chennai Adyar Park, Alwarpet|The Raintree, Alwarpet','Alwarpet',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Deccan Plaza, Royapettah|E Hotel, Royapettah|Express Avenue Mall,Royapettah|Sathyam Cinemas Complex, Royapettah','Royapettah',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Dash@OMR, Old Mahabalipuram Road (OMR)|Gokulam Park Sabari - OMR, Old Mahabalipuram Road|Holiday Inn Chennai OMR IT Expressway|Southern Residency Hotel, OMR|RMZ Millenia Business Park, Old Mahabalipuram Road (OMR)|Novotel Chennai, OMR|IBIS Chennai, OMR|IBIS Hotel, Old Mahabalipuram Road (OMR)|Days Hotel, Old Mahabalipuram Road (OMR)','Old Mahabalipuram Road (OMR)',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('DLF IT Park, Ramapuram','Ramapuram',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Fairfield by marriot, Chengalpattu|Fortune Select Grand, Chengalpattu|Hotel Joyland, Chengalpattu|Ranga Residency, Chengalpattu','Chengalpattu',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Gokulam Park Hotel, Ashok Nagar','Ashok Nagar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Golden Sun Resort, Mamallapuram','Mamallapuram',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Grand Residence Hotel, Porur','Porur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Green Coconut Resort, Kanchipuram District|GST Regency, Kanchipuram|Hotel Milestonnez, Kanchipuram District|Hotel Vassi Palaze, Kanchipuram District|Hotel Sathyam Grand Resort, Kanchipuram District','Kanchipuram',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Green Meadows Resorts, Palavakkam','Palavakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hablis Hotel, Guindy|Hilton Chennai, Guindy|Ramada Plaza, Guindy|Lemon Tree Hotel, Guindy|ITC Grand Chola, Guindy','Guindy',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Harrisons Hotel, Nungambakkam|Hotel Goutham Manor, Nungambakkam|Hotel Palmgrove, Nungambakkam|The Spring Hotel, Nungambakkam|The Park, Nungambakkam|Taj Coromandel, Nungambakkam','Nungambakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Anitha Towers, Triplicane','Triplicane',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Beverly, Kilpauk|Hotel Blue Diamond, Kilpauk|The Pride Hotel, Kilpauk','Kilpauk',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Blue Nile, Pallavaram','Pallavaram',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Chennai Deluxe, Koyambedu|The Hotel Royal Plaza, Koyambedu','Koyambedu',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Mount Heera, Alandur','Alandur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Maris, Gopalapuram','Gopalapuram',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Vivira Mall, Navallur|OMR Food Street, Navallur','Navallur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('VR Mall, Anna Nagar','Anna Nagar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Zone by The Park, Pallikaranai','Pallikaranai',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('TNHB Complex, Adyar','Adyar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('TNHB Complex, Besant Nagar','Besant Nagar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Trident, GST Road|Radisson Blu, GST Road','GST Road',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('The Westin Chennai, Velachery|The Grand Mall, Velachery|Phoenix Market City, Velachery','Velachery',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('The Vijay Park Hotel, Arumbakkam|Hotel Poigai, Arumbakkam','Arumbakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('The Checkers Hotel, Saidapet','Saidapet',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Spectrum The Grand Venum Mall, Perambur','Perambur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('The Leela Palace, MRC Nagar','MRC Nagar',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Spencer Plaza Mall, Thousand Lights|Taj Club House, Thousand Lights|La Woods Hotel, Thousand Lights','Thousand Lights',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('SKLS Galaxy Mall, Redhills','Redhills',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Saaral Residency, Mogappair','Mogappair',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Park Plaza OMR, Thuraipakkam|OMR Food Street, Thuraipakkam','Thuraipakkam',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Keys Hotel, Thiruvanmiyur','Thiruvanmiyur',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Hotel Royal Regency, Vepery','Vepery',regex=True)
raw_dataset['Location']=raw_dataset['Location'].str.replace('Liberty Park Hotel, Kodambakkam','Kodambakkam',regex=True)

In [19]:
raw_dataset['Location'].value_counts().reset_index()

                                     Location  count
0                                   Velachery    421
1                                       Porur    421
2                                    Ambattur    360
3                                    T. Nagar    315
4                                   Perungudi    288
..                                        ...    ...
166                                 The Slate      1
167                                 Ambattur       1
168      Mamalla Beach Resort, Mahabalipuram       1
169            Kipling, East Coast Road (ECR)      1
170  Days Hotel, Old Mahabalipuram Road (OMR)      1

[171 rows x 2 columns]

In [20]:
useless_data=(raw_dataset['Dining Rating']==0) | (raw_dataset['Delivery Rating'])==0
raw_dataset[useless_data]

Empty DataFrame
Columns: [Name of Restaurant, Location, Cuisine, Top Dishes, Price for 2, Dining Rating, Dining Rating Count, Delivery Rating, Delivery Rating Count, Features]
Index: []

In [21]:
raw_dataset[raw_dataset.duplicated()]

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
9103,Brownie Heaven,T. Nagar,"['Bakery', ' Desserts', ' Beverages']",Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Home Delivery', 'Indoor Seating', 'Desserts ..."
9995,ibaco,Kanchipuram District,['Ice Cream'],Invalid,200.0,3.387756,0.0,3.80529,0.0,"['Home Delivery', 'Vegetarian Only', 'Indoor S..."
10534,Cake Waves,Thiruvallur,"['Bakery', ' Fast Food']",Invalid,500.0,3.387756,0.0,3.80529,0.0,"['Home Delivery', 'Indoor Seating', 'Desserts ..."
11225,Pizza Square,Thiruvanmiyur,"['Pizza', ' Fast Food']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Home Delivery', 'Indoor Seating']"
11361,Aavin Parlour,George Town,['Ice Cream'],Invalid,200.0,3.387756,0.0,3.80529,0.0,"['Takeaway Only', 'Desserts and Bakes']"
11390,The Cake Point,Mogappair,['Bakery'],Invalid,200.0,3.387756,0.0,3.80529,0.0,"['Home Delivery', 'Indoor Seating', 'Desserts ..."
11489,Parantha Pundit,Mogappair,"['North Indian', ' Beverages']",Invalid,200.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11496,Parantha Pundit,Kovalam,"['North Indian', ' Beverages']",Invalid,200.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11553,Leo Coffee,Mylapore,"['Coffee', ' Tea', ' Beverages']",Invalid,250.0,3.387756,0.0,3.80529,0.0,['Home Delivery']
11572,Leo Coffee,Anna Nagar East,"['Coffee', ' Tea', ' Beverages']",Invalid,250.0,3.387756,0.0,3.80529,0.0,"['Takeaway Only', 'Vegetarian Only']"
11689,Hyku Foods,Porur,"['Healthy Food', ' South Indian']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Home Delivery']"
11697,Hyku Foods,Porur,"['Healthy Food', ' South Indian']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Home Delivery']"
11698,Hyku Foods,Porur,"['Healthy Food', ' South Indian']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Home Delivery']"
11708,Hyku Foods,Tambaram,"['Healthy Food', ' South Indian']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Home Delivery']"
11709,Hyku Foods,Tambaram,"['Healthy Food', ' South Indian']",Invalid,300.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Home Delivery']"
11732,Wangs Express,Nandanam,"['Chinese', ' Beverages']",Invalid,600.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11733,Wangs Express,Mogappair,"['Chinese', ' Beverages']",Invalid,600.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11832,Amma Unavagam,Kolathur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11842,Amma Unavagam,Kolathur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11843,Amma Unavagam,Kodambakkam,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11846,Amma Unavagam,Arumbakkam,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Onl..."
11847,Amma Unavagam,Egmore,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11850,Amma Unavagam,Ambattur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Indoor Seating']"
11851,Amma Unavagam,Ambattur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Indoor Seating']"
11855,Amma Unavagam,Washermenpet,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11858,Amma Unavagam,Ashok Nagar,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only']"
11859,Amma Unavagam,Ashok Nagar,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only']"
11860,Amma Unavagam,Kolathur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11862,Amma Unavagam,Besant Nagar,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only', 'Standing Tab..."
11863,Amma Unavagam,Washermenpet,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11865,Amma Unavagam,Akkarai,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only', 'Indoor Seati..."
11866,Amma Unavagam,Thuraipakkam,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only']"
11867,Amma Unavagam,Ambattur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,['Breakfast']
11868,Amma Unavagam,Thuraipakkam,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Vegetarian Only']"
11869,Amma Unavagam,Ambattur,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Table booking recommended']"
11870,Amma Unavagam,Ashok Nagar,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Only']"
11874,Amma Unavagam,Washermenpet,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Onl..."
11876,Amma Unavagam,Washermenpet,['South Indian'],Invalid,150.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Takeaway Only', 'Vegetarian Onl..."
11924,Noodle Doodle,Ambattur,"['Chinese', ' Fast Food']",Invalid,300.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11927,Noodle Doodle,Chengalpattu,"['Chinese', ' Fast Food']",Invalid,300.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11988,Daal Rotti,Ambattur,['North Indian'],Invalid,300.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11989,Daal Rotti,Chengalpattu,['North Indian'],Invalid,300.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
11995,Sardarji Kulfi,Anna Nagar East,['Ice Cream'],Invalid,150.0,3.387756,0.0,3.80529,0.0,['Delivery Only']
12004,Natural Fresh,Anna Nagar East,['Ice Cream'],Invalid,150.0,3.387756,0.0,3.80529,0.0,['Delivery Only']

In [22]:
raw_dataset=raw_dataset.drop_duplicates()

In [23]:
zomato_dataset=raw_dataset.copy()

In [24]:
zomato_dataset

,Name of Restaurant,Location,Cuisine,Top Dishes,Price for 2,Dining Rating,Dining Rating Count,Delivery Rating,Delivery Rating Count,Features
0,Yaa Mohaideen Briyani,Pallavaram,['Biryani'],"['Bread Halwa', ' Chicken 65', ' Mutton Biryan...",500.0,4.300000,1500.0,4.30000,1500.0,"['Home Delivery', 'Indoor Seating']"
1,Sukkubhai Biriyani,Alandur,"['Biryani', ' North Indian', ' Mughlai', ' Des...","['Beef Biryani', ' Beef Fry', ' Paratha', ' Pa...",1000.0,4.400000,3059.0,4.10000,3059.0,"['Home Delivery', 'Free Parking', 'Table booki..."
2,SS Hyderabad Biryani,Kodambakkam,"['Biryani', ' North Indian', ' Chinese', ' Ara...","['Brinjal Curry', ' Tandoori Chicken', ' Chick...",500.0,4.300000,1361.0,4.40000,1361.0,"['Home Delivery', 'Indoor Seating']"
3,KFC,Perambur,"['Burger', ' Fast Food', ' Finger Food', ' Bev...",['Zinger Burger'],500.0,4.000000,1101.0,4.00000,1101.0,"['Home Delivery', 'Free Parking', 'Card Upon D..."
4,Tasty Kitchen,Perambur,"['Chinese', ' Biryani', ' North Indian', ' Che...","['Mutton Biryani', ' Chicken Rice', ' Tomato R...",450.0,4.200000,617.0,4.10000,617.0,"['Home Delivery', 'Indoor Seating']"
...,...,...,...,...,...,...,...,...,...,...
12027,CK's Sandwiches,Porur,['Sandwich'],Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Delivery Only']"
12028,CK's Sandwiches,Kolathur,['Sandwich'],Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Delivery Only']"
12029,CK's Sandwiches,Anna Nagar East,['Sandwich'],Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Delivery Only']"
12030,CK's Sandwiches,Ramapuram,['Sandwich'],Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Delivery Only']"
12031,CK's Sandwiches,Sholinganallur,['Sandwich'],Invalid,350.0,3.387756,0.0,3.80529,0.0,"['Breakfast', 'Delivery Only']"